<div class="card__item">
    <figure class="card__item-image {% if maintain_image %}card__item-image--maintain{% endif %}">
      {% unless file_image %}
        <img class="lazyload" src="{{ card_image | img_url: '20x12', crop: 'center', format: 'pjpg' }}" data-src="{{ card_image | img_url: '384x222', crop: 'center', format: 'pjpg' }}" data-srcset="{{ card_image | img_url: '384x222', crop: 'center', format: 'pjpg' }} 1x, {{ card_image | img_url: '384x222', scale: 2, crop: 'center', format: 'pjpg' }} 2x" alt="">
      {% else %}
        {% if card_image != blank %}
          <img class="lazyload" src="{{ card_image | img_url: '20x12', crop: 'center', format: 'pjpg' }}" data-src="{{ card_image | img_url: '384x222', crop: 'center', format: 'pjpg' }}" data-srcset="{{ card_image | img_url: '384x222', crop: 'center', format: 'pjpg' }} 1x, {{ card_image | img_url: '384x222', scale: 2, crop: 'center', format: 'pjpg' }} 2x" alt="">
        {% endif %}
      {% endunless %}
     </figure>
  
    <div class="card__item-details">
      <h3 class="card__item-title"><a href="{{ card_object.url }}" title="{{ card_object.title }}">{{ card_object.title }}</a></h3>
      {% if card_object.metafields.custom_fields.excerpt != blank %}
        <p class="card__item-text">{{ card_object.metafields.custom_fields.excerpt | strip_html }}</p>
      {% else %}
        <p class="card__item-text">{{ card_object.content | strip_html | truncate: 300 }}</p>
      {% endif %}
      <div class="card__item-link"><a href="{{ card_object.url }}" title="{{ card_object.title }}">{{ 'blogs.general.continue_reading_html' | t }}</a></div>
    </div>
  </div>