<block class="tabs js-tabs">
  <div class="pro_tab_new">
  <ul class="tabs__nav">
    <li><button class="tabs__control js-tab-control control--active" data-control-for="{{ tab_label_1 | handleize}}">{{ tab_label_1 }}</button></li>
    {% if product.metafields.custom_fields.product_directions != blank %}
    <li><button class="tabs__control js-tab-control" data-control-for="{{ tab_label_2 | handleize}}">{{ tab_label_2 }}</button></li>
    {% endif %}
    {% if product.metafields.custom_fields.product_ingredients != blank %}
      {% assign tab_title = tab_label_3 | remove: ' & Nutritional Information'  %}
      <li><button class="tabs__control js-tab-control" data-control-for="{{ tab_title | handleize}}">{{ tab_label_3 }}</button></li>
    {% endif %}
    {% if product.metafields.custom_fields.product_faqs != blank %}
      <li><button class="tabs__control js-tab-control" data-control-for="{{ tab_label_4 | handleize}}">{{ tab_label_4 }}</button></li>
    {% endif %}
    {%- unless product.tags contains 'no-reviews-tab' -%}
      {% assign tab_title = tab_label_5 | remove: 'Customer '  %}
      <li><button class="tabs__control js-tab-control" data-control-for="{{ tab_title | remove: 's' | handleize}}">{{ tab_label_5 }}</button></li>
    {%- endunless -%}

  </ul>
  </div>
  <div class="tabs__content-container">
    <div class="js-expand">
      <div class="expand__container tabs__content js-tab-content" data-content="{{ tab_label_1 | handleize}}">
        <button class="expand__control js-expand-control"><h2>{{ tab_label_1 }}</h2></button>
        <div class="expand__content js-expand-content text__layout">
          <div class="product-description-wrapper">
            {%- assign product_description = product.description | split: '<!-- read more -->' -%}
            <div class="product-description">
            {{ product_description | first }}
              {%- if product_description.size > 1 -%}
                <div class="js-read-more read-more">
                  {% for description in product_description offset: 1 %}
                    {{ description }}
                  {% endfor %}
                </div>
                <button type="button" class="button button--secondary js-read-more-button">Read More</button>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
        {% if product.metafields.custom_fields.product_ingredients != blank %}
        <div class="expand__container tabs__content js-tab-content" data-content="{{ tab_label_3 | remove: " & Nutritional Information" | handleize}}">
          <button class="expand__control js-expand-control"><h2>{{ tab_label_3 |  remove: " & Nutritional Information" }}</h2></button>
          <div class="expand__content js-expand-content text__layout">{{ product.metafields.custom_fields.product_ingredients }}</div>
        </div>
      {% endif %}
      
      {% if product.metafields.custom_fields.product_directions != blank%}
      <div class="expand__container tabs__content js-tab-content" data-content="{{ tab_label_2 | handleize}}">
        <button class="expand__control js-expand-control"><h2>{{ tab_label_2 }}</h2></button>
        <div class="expand__content js-expand-content text__layout">{{ product.metafields.custom_fields.product_directions }}</div>
      </div>
    {% endif %}
{% comment %}
      {%- unless product.tags contains 'no-reviews-tab' and tab_label_5 !=blank -%}
        {% assign tab_title = tab_label_5 | remove: 'Customer '  %}
        <div class="expand__container tabs__content js-tab-content customer_review_tab" data-content="{{ tab_title | remove: 's' | handleize}}">
          <button class="expand__control js-expand-control"><h2>{{ tab_label_5 }}</h2></button>
          <div class="expand__content js-expand-content text__layout">
            {% if settings.stamped_product_reviews %}
            	<!--/ Stamped.io integration -->
                <div id="stamped-main-widget" 
                  data-widget-style="standard"
                  data-product-id="{{ product.id }}" 
                  data-name="{{ product.title | escape }}" 
                  data-url="{{ shop.url }}{{ product.url }}" 
                  data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
                  data-description="{{ product.description | escape }}" 
                  data-product-sku="{{product.handle}}"
                  data-product-type="{{product.type}}"> 
                  {{ product.metafields.stamped.reviews }} 
                </div>
            {% else %}
                <!--/ Shopify reviews integration -->
                <div id="shopify-product-reviews" data-id="{{product.id}}">
                	{{ product.metafields.spr.reviews }}
            	</div>
            {% endif %} 
          </div>
        </div>
      {%- endunless -%}
{% endcomment %}
    </div>
  </div>
</block>