{%- for block in section.blocks -%}
    {%- if block.type == 'price' -%}
      {% if block.settings.loyalty_program != blank %}
        <script src="https://unpkg.com/@popperjs/core@2"></script> 
        <script src="https://unpkg.com/tippy.js@6"></script> 
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light-border.css">
      {% endif %}
    {% endif %}
  {% endfor %}
  {% comment %}
      Product snippet
  
      @param product
      @param selected_variant
      @param width
      @param css_class
      @param display_social_buttons
      @param display_thumbnails
      @param enable_product_lightbox
      @param enable_shopify_review_comments
      @param enable_thumbnail_slider
      @param enable_zoom
      @param gallery_arrows
      @param product_description_position
      @param product_height
      @param set_product_height
      @param slideshow_transition
      @param stickers_enabled
      @param tag_style
      @param thumbnail_position
      @param video_looping
      @param section_onboarding
    {% endcomment %}
  
  {% comment %} HTML markup {% endcomment %}
  
  <div class="product_section
              js-product_section
              container
              is-justify-space-between
              has-padding-bottom
              {% if product_images_position == 'right' %}
                is-flex-row-reverse
              {% endif %}">
  
    <div class="vertical-item-wrapper">
      {% if section_onboarding %}
        <div class="featured-product__images">
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
        </div>
      {% else %}
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}    
      <img src="{{ featured_image | img_url: '58x' }}" alt="{{ product.title }}">
      {% endif %}
    </div>
  
      {% comment %} Sale sticker {% endcomment %}
      {% if stickers_enabled %}
        {% assign collection_handles = product.collections | map: 'handle' %}
        {%
          render 'product-thumbnail__sticker',
          context: 'product',
          collection_handles: collection_handles,
        %}
      {% endif %}
  
      {%- for block in section.blocks -%}
        <div class="product-block
                    product-block--{{ block.type | downcase | replace: '_', '-' }}
                    {% if forloop.first == true %}
                      product-block--first
                    {% endif %}"
                    {{ block.shopify_attributes }}>
  
          {%- if block.type == 'vendor' -%}
            {% comment %} Vendor {% endcomment %}
            <p class="vendor">
              <span class="vendor">
                {% if section_onboarding %}
                  Vendor name
                {% else %}
                  {{ product.vendor | link_to_vendor }}
                {% endif %}
              </span>
            </p>
  
          {%- elsif block.type == 'sku' -%}
            {% comment %} Sku {% endcomment %}
            <p class="sku">
              {% if section_onboarding %}
                1234567890
              {% else %}
                {{ selected_variant.sku }}
              {% endif %}
            </p>
  
          {%- elsif block.type == 'title' -%}
            {% comment %} Name {% endcomment %}
            <h1 class="product_name title">
              {% if section_id == 'quickshop' %}
                <a href="{{ product.url }}">{{ product.title }}</a>
              {% elsif section_onboarding %}
                {{ 'homepage.onboarding.product_title' | t }}
              {% else %}
                {{ product.title }}
              {% endif %}
            </h1>
          {%- if product.metafields.custom_fields.option_text != blank -%}
              <div class="qty-selector__variant-details">
                {{ product.metafields.custom_fields.option_text | remove: 'Size:' }}
              </div>
            {%- endif -%}	
  
          {%- elsif block.type == 'size-chart' -%}
            {% comment %} Size chart {% endcomment %}
            {% for tag in product.tags %}
              {% if tag contains 'meta-size-chart-' %}
                {% assign meta-size-chart = true %}
              {% endif %}
            {% endfor %}
  
            {% comment %} Size chart Mobile {% endcomment %}
            {% if block.settings.size_chart != blank or meta-size-chart %}
              <a href="javascript:;" class="product__size-chart size-chart--medium-down" data-fancybox data-src="#size-chart{{ product.id }}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
              {% render 'popup-size-chart', product_id: product.id %}
            {% endif %}
            {% comment %} Size chart {% endcomment %}
            {% if block.settings.size_chart != blank or meta-size-chart %}
              <a href="javascript:;" class="product__size-chart medium-down--hidden" data-fancybox data-src="#size-chart{{ product.id }}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
              {% render 'popup-size-chart', product_id: product.id %}
            {% endif %}
  
          {%- elsif block.type == 'price' -%}
            {% comment %} Price {% endcomment %}
            <div class="modal_price subtitle product-hero__price-wrapper" data-display-savings="{{ block.settings.display_savings }}">
              {% if section_onboarding %}
                <span class="money">$49.00</span>
              {% else %}
                {% comment %}Inject @pixelunion/shopify-price-ui/price-ui begin{% endcomment %}
                <div class="price-ui price-ui--loading" data-price-ui>
                  <noscript>
                    <style>
                      .price-ui--loading {
                        display: block !important;
                        opacity: 1 !important;
                      }
                    </style>
                  </noscript>
                  {% assign compare_at_price = false %}
                
                  {% if product.compare_at_price and product.compare_at_price != product.price %}
                    {% if product.compare_at_price_varies %}
                      {%- capture price_min -%}
                        {%-
                          render 'price-ui-templates',
                          template: 'price-min',
                          value: product.compare_at_price_min,
                        -%}
                      {%- endcapture -%}
                
                      {%- capture price_max -%}
                        {%-
                          render 'price-ui-templates',
                          template: 'price-max',
                          value: product.compare_at_price_max,
                        -%}
                      {%- endcapture -%}
                
                      {%- assign compare_at_price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
                    {% else %}
                      {%- capture compare_at_price -%}
                        {%-
                          render 'price-ui-templates',
                          template: 'price',
                          value: product.compare_at_price,
                        -%}
                      {%- endcapture -%}
                    {% endif %}
                  {% endif %}
                
                  {% if product.price_varies %}
                    {%- capture price_min -%}
                      {%-
                        render 'price-ui-templates',
                        template: 'price-min',
                        value: product.price_min,
                      -%}
                    {%- endcapture -%}
                
                    {%- capture price_max -%}
                      {%-
                        render 'price-ui-templates',
                        template: 'price-max',
                        value: product.price_max,
                      -%}
                    {%- endcapture -%}
                
                    {%- assign price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
                  {% else %}
                    {%- capture price -%}
                      {%-
                        render 'price-ui-templates',
                        template: 'price',
                        value: product.price,
                      -%}
                    {%- endcapture -%}
                  {% endif %}
                
                  {%-
                    render 'price-ui-templates',
                    template: 'price-ui',
                    compare_at_price: compare_at_price,
                    price: price,
                    unit_pricing: false,
                  -%}
                  
                </div>
                {% comment %}Inject @pixelunion/shopify-price-ui/price-ui end{% endcomment %}
  
              {% endif %}
              {% if block.settings.loyalty_program != blank %}
                  {{ block.settings.loyalty_program }}
              {% endif %}           
            </div>
          {%- elsif block.type == 'description' -%}
            {% comment %} Description {% endcomment %}
            {% if block.settings.custom_description != blank %}
              <div class="description content has-padding-top">
                {{ block.settings.custom_description }}
              </div>
            {% elsif section_onboarding %}
              <div class="description content has-padding-top">
                <p>
                  {{ 'homepage.onboarding.product_description' | t }}
                </p>
              </div>
            {% else %}
              {% if product.description != blank %}
                <div class="description content has-padding-top">
                  {{ product.description | split: '<!-- split -->' | first }}
                </div>
              {% endif %}
            {% endif %}
  
          {%- elsif block.type == 'form' -%}
            {% comment %} Purchase form {% endcomment %}
            {% if section_onboarding %}
              <div class="product-form-container">
                <div class="purchase-details">
                  <div class="purchase-details__buttons purchase-details__spb--false">
                    <button name="add" class="action_button button button--add-to-cart add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text hide_mob">{{ 'products.product.add_to_cart' | t }}</span><span class="hide_desk">Add</span></button>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="product-form-container">
  
                {% comment %} Notify form {% endcomment %}
                {% render 'product__notify-me-form', product: product %}
  
                {% comment %} Product form {% endcomment %}
                {% unless collection_handles contains 'coming-soon' %}
                  {%
                    render 'product__form',
                    context: 'product',
                    product: product,
                    sold_out_options: sold_out_options,
                    selected_variant: selected_variant,
                    show_payment_button: block.settings.show_payment_button,
                    collection_handles: collection_handles
                  %}
                {% endunless %}
              </div>
            {% endif %}
  
          {%- elsif block.type == 'product-links' -%}
            {% comment %} Collections, type, tags {% endcomment %}
            {% if block.settings.show_collections or block.settings.show_tags or block.settings.show_type %}
              <div class="product__classification-links has-padding-top">
                {% if block.settings.show_collections %}
                  <p class="product__collections-list tags">
                    <span class="product__classification-title">{{ 'products.product.collections' | t }}:</span>
                    {% for col in product.collections %}
                      <span class="tag tag--{{ tag_style }}">
                        <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
                      </span>
                    {% endfor %}
                  </p>
                {% endif %}
  
                {% if block.settings.show_type %}
                  <p class="product__type-list tags">
                    <span class="product__classification-title">{{ 'products.product.product_types' | t }}:</span>
                    <span class="tag tag--{{ tag_style }}">{{ product.type | link_to_type }}</span>
                  </p>
                {% endif %}
  
                {% if block.settings.show_tags and product.tags.size > 0 %}
                  <p class="product__tags-list tags">
                    <span class="product__classification-title">{{ 'products.product.tags' | t }}:</span>
                    {% for tag in product.tags %}
                      {% unless tag contains 'meta-' %}
                        <span class="tag tag--{{ tag_style }}">
                          <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>
                        </span>
                      {% endunless %}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            {% endif %}
  
          {%- elsif block.type == 'share' -%}
            {% comment %} Social share icons {% endcomment %}
            <div class="product__social-share has-padding-top">
              {% render 'social-share-buttons' %}
            </div>
  
          {%- elsif block.type == 'text' -%}
            {% comment %} Text {% endcomment %}
            <div class="product-text">
              {{ block.settings.text }}
            </div>
          {% elsif block.type == '@app' %}
            <div class="product-app">
              {% render block %}
            </div>
          {% elsif block.type == 'product-summary' %}
            {%- assign product_summary = '' -%}
            {%- if product.metafields.custom_fields.product_summary != blank -%}
                {%- assign product_summary = product.metafields.custom_fields.product_summary -%}
            {%- endif -%}
              {%- if product_summary != blank -%}
                <div class="product-hero__summary">
                  {{ product_summary }}
                </div>
                {% if block.settings.learn_more != blank %}
                    <a href="#" class="product-hero__learn-more">{{ block.settings.learn_more }}</a>
                {% endif %}
              {% endif %}
          {% elsif block.type == 'option-text' %}
            {%- if product.metafields.custom_fields.option_text != blank -%}
              <div class="qty-selector__variant-details">
                {{ product.metafields.custom_fields.option_text | remove: 'Size:' }}
              </div>
            {%- endif -%}
          {% elsif block.type == 'shipping-bar' %}
            <div class="row has-no-side-gutter">
              {% if block.settings.image != blank %}
                <div class="one-sixth">
                  <img class="brand-value__image" src="{{ block.settings.image | img_url: 'small' }}">
                </div>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="five-sixths">
                  {{ block.settings.text }}              
                </div>
              {% endif %}
            </div>
          {% elsif block.type == 'certifications' %}
          <div class="certifications-section">
          <div class="certifications-guarantee">
            <a href="/pages/no-risk-guarantee">
              <img class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/2487/5358/files/365-Day-Guarantee-FA_x95.png?v=1651041084" alt="" src="//cdn.shopify.com/s/files/1/2487/5358/files/365-Day-Guarantee-FA_x95.png?v=1651041084">
            </a>
          </div>
          <div class="certifications-section__inner">
            <div class="certification">
              <img class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/2487/5358/files/FDA-160x60pix_x50.png?v=1581670420" alt="" src="//cdn.shopify.com/s/files/1/2487/5358/files/FDA-160x60pix_x50.png?v=1581670420">         
            </div>
            <div class="certification">
              <img class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/2487/5358/files/GMP-60x60pix_x50.png?v=1581670462" alt="" src="//cdn.shopify.com/s/files/1/2487/5358/files/GMP-60x60pix_x50.png?v=1581670462">         
            </div>
            <div class="certification">
              <img class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/2487/5358/files/NZ-57x60pix_x50.png?v=1581670398" alt="" src="//cdn.shopify.com/s/files/1/2487/5358/files/NZ-57x60pix_x50.png?v=1581670398">
            </div>
          </div>
        </div>
          
          
          
          {%- endif -%}        
        </div>
  
      {%- endfor -%}
  
  </div>
  {%- for block in section.blocks -%}
    {%- if block.type == 'price' -%}
      {% if block.settings.loyalty_program != blank %}
      <script>
        tippy('[data-tippy-content]', {
          allowHTML: true,
          trigger: 'click',
          theme: 'light-border'
        });
      </script>
      {% endif %}
    {% endif %}
  {% endfor %}