<style>
  .info-grid h2 {
	font-size: 44px;
	text-align: center;
    }
    .flex.info-grid-inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
      position: relative;
      padding-top: 15px;
      align-items: stretch;
    }
    .flex.info-grid-inner .one-third {
      margin-bottom: 20px;
    }
    .info-grid-content {
    	border-radius: 10px;
    	padding: 30px 20px;
    	height: 100%;
    	background: #E8E8E8;
    }
    .info-grid-title {
      font-family: Arimo-Bold;
      font-size: 20px;
      color: #005895;
    }
    .info-grid-info {
      display: flex;
      align-items: center;
    }
    .info-grid-img {
      margin-right: 10px;
    }
    .info-grid-link {
      margin-top: 10px;
    }
    .info-grid-desc{
      width: calc(100% - 10px);
      padding-top: 10px;
    }
    .info-grid-desc ul {
      list-style: none;
      margin-top: 20px;
    }
  
    .info-grid-desc ul li::before {
      content: "\2022";
      color: #3f7cbf;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
    @media only screen and (max-width: 992px){
      .info-grid .one-third {
        width:100%;
      }
    }
    @media only screen and (max-width: 767px){
      .info-grid-title{
        font-size: 15.5px;
      }
      .info-grid-info .info-grid-desc{
        font-size: .875rem;
        width: calc(100% - 80px);
      }
      /*.info-grid-img{
        width: 80px;
      }*/
    }
    </style>
   <div class="section">
    <div class="info-grid">
      <div class="one-whole">
        <h2>{{ section.settings.title }}</h2>
        <div>{{ section.settings.description }}</div>
      </div>
      <div class="flex info-grid-inner">
        {% for block in section.blocks %}
            <div class="one-third large-down--eight">
              <div class="info-grid-content">
                  <div class="info-grid-info">
                      <div class="info-grid-img">
                        <img src="{{ block.settings.image | img_url: "110x" }}" alt='{{ block.settings.image.alt }}'/>
                      </div>
                    <div class="info-grid-title">{{block.settings.title}}</div>
                  </div>
                  <div class="info-grid-desc">
                    {{ block.settings.description }}
                  </div>
                <div class="info-grid-link"><a href="{{ block.settings.link }}">{{ block.settings.linktitle }}</a></div>
              </div>  
          </div>
        {% endfor %} 
      </div>
    </div>
   </div>
  {% schema %}
    {
      "name": "Info Grid V1",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ],
      "blocks":[
        {
          "type": "image",
          "name": "Image with Text column",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "textarea",
              "id": "description",
              "label": "Description"
            },
            {
              "type": "text",
              "id": "linktitle",
              "label": "Link Title"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            }
          ]
        }
      ],
      "presets": [
        {
        "category": "Text",
        "name": "Info Grid V1"
        }
      ]
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}