{% comment %}
** Login template - main content area **
{% endcomment %}

{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %}Advanced{% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% style %}

  .section__wrapper {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }
  #template-customers-login .container{
    justify-content: center;
    margin-top: 15px;
  }
  #template-customers-login h1,
  #template-customers-login .h1,
  #template-customers-login  h2{
    font-size: 32px;
  }
  #template-customers-login .label{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .75px;
  }
  #template-customers-login .login {
    max-width: 475px;
    width: 100%;
  }
  #template-customers-login .button--primary{
    padding: 0.8em 2.2em;
    text-transform: uppercase;
    width: 100%;
  }
  #template-customers-login .hoverButton{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .75px;
  }
  .right{
    float: right;
  }
  #template-customers-login .js-recover-password, .links {
	text-decoration: underline;
	font-size: 14px;
    color: #231F20;
  }
  #template-customers-login .login__form {
	margin-top: 15px;
    font-family: lora-regular;
  }
  .field {
	font-family: lora-regular;
  }
   .field input{
     border-radius: 10px;
   }
  .control {
    padding-top: 8px;
  }
  #template-customers-login .recover-options,
  #template-customers-login .cancel-recover {
	margin-top: 15px;
  }
  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% unless localization.market.handle == "new-zealand" or localization.market.handle == "nz" %}
<!-- <div class="container is-flex is-justify-center">
    <div class="" style="
    padding: 12px 16px;
    margin-bottom: 12px;
    background-color: rgba(252, 248, 227, 1);
    border-color: rgba(177, 161, 129, 1);
    color: rgba(138, 109, 59, 1);
"><p style="
    /* text-align: center; */
"><strong>IMPORTANT CUSTOMER ACCOUNT UPDATES</strong></p>
<p>We've made some recent website improvements that require reactivation of existing customer accounts and you shoud have recieved an email with information on these changes.</p> 
<br>
      <p>If you created your account prior to 31 August 2023 and you have not logged in after 1 September 2023, please reactivate your account <a href="/pages/account-reactivation">by clicking here</a>.</p>
<br>
<p>We apologize for any inconvienience, please contact our Customer Relations Team if you require any assistance <a href="mailto:customer.service@xtend-life.com">customer.service@xtend-life.com</a> </p></div>
    </div> -->
{% endunless %}
<p>Shop locale: {{ localization.market.handle }}</p>
<section class="section section__wrapper is-width-{{ width }} {{ css_class }}">
  <!-- <header class="container">    
    {%- capture title -%}{{ 'customer.login.title' | t }}{%- endcapture -%}
      <div class="heading-wrapper--register
      heading-wrapper--short
      one-whole column
      is-flex
      is-flex-column
      is-align-center
      text-align-center">
        <h1>{{ 'customer.login.sign_in_title' | t }}</h1>
        <small>{{ 'customer.login.sign_in_subtitle' | t }}</small>
        <div class="has-padding-top">
        < a class="button button--primary" href="/account/register">{{ 'customer.register.title' | t }}</a>
        </div>
      </div>
  </header> -->

  <div class="container">

    <div id="recover-password" class="login one-half medium-down--one-whole column has-padding-bottom" style='display:none'>
      <div class="animated fadeInUp">

        <h2 class="text-left">{{ 'customer.recover_password.title' | t }}</h2>
        <p class="recover-note text-left">
          <small><em>{{ 'customer.recover_password.subtext' | t }}</em></small>
        </p>

        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            {% assign reset_success = true %}
          {% endif %}

          <div id="recover_email">
            <div class="field">
              <label class="labelv" for="email">{{ 'customer.recover_password.email' | t }}</label>
              <div class="control">
                <input type="email" value="" size="30" name="email" id="recover-email" class="input" autocorrect="off" autocapitalize="off" placeholder="{{ 'customer.login.email' | t }}" />
              </div>
            </div>
          </div>

          <div class="recover-options">
            <input class="button button--primary" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
            <div class="cancel-recover"><a href="#" class="cancel-recover-password">{{ 'customer.recover_password.cancel' | t }}</a></div>
          </div>
        {% endform %}
      </div>
    </div>

    <div id="login" class="login one-half medium-down--one-whole column has-padding-bottom">
      <header class="container">
        {%- capture title -%}{{ 'customer.login.title' | t }}{%- endcapture -%}
        <div class="heading-wrapper--register
                heading-wrapper--short
                one-whole column
                is-flex
                is-flex-column
                is-align-left
                text-align-left">
        <h2 class="h1">{{ title }}</h2>
        <!-- <small>{{ 'customer.register.subtitle' | t }}</small> -->
        </div>
        {% comment %}
        {% render 'heading',
                title: title,
                heading_tag: 'h1',
                context: 'login',
                text_alignment: 'left'
        %}
        {% endcomment %}
      </header>

      <div id="customer" class="login__form">

        {% if reset_success %}
          <p>
            <em class="note">
              {{ 'customer.recover_password.success' | t }}
            </em>
          </p>
        {% endif %}

        {% if section.settings.richtext != blank %}
          <div class="login__text has-padding-bottom">
            {{ section.settings.richtext }}
          </div>
        {% endif %}

        {% form 'customer_login' %}
          {{ form.errors | default_errors }}

          <div class="field">
            <label class="labelv" for="{{ label | replace: ' ', '_' }}">{{ 'customer.login.email' | t }}*</label>
            <div class="control">
              <input type="email" value="" name="customer[email]" id="customer_email" class="input" size="30"  autocorrect="off" autocapitalize="off" tabindex="1" placeholder="{{ 'customer.login.email' | t }}"/>
            </div>
          </div>

          {% if form.password_needed %}

            {% comment %}
              Customer Account Login
            {% endcomment %}

          {% endif %}
          <div class="field">
            <label class="labelv" for="{{ label | replace: ' ', '_' }}">{{ 'customer.login.password' | t }}*</label> 
            <div class="right"><a class="js-recover-password" href="#">{{ 'customer.login.forgot_password' | t }}</a></div>
            <div class="control">
              <input type="password" value="" name="customer[password]" id="customer_password" class="input" size="16" tabindex="2" placeholder="{{ 'customer.login.password' | t }}"/>
            </div>
          </div>

          <div class="is-align-center">
            <input class="button button--primary" type="submit" value="{{ 'customer.login.sign_in' | t }}" style="margin: 15px 0;" tabindex="3" />
            <a class="links" href="/account/register">{{ 'customer.register.title' | t }}</a>
          </div>
          {% comment %} 
          {% unless shop.checkout.guest_login %}
            <p class="has-padding-top">
              {{ 'customer.login.new_customer_label' | t }} {{ 'customer.login.sign_up_html' | t | customer_register_link | replace: 'id="customer_register_link"', 'class="hoverButton"' }}
            </p>
          {% endunless %}
        {% endcomment %} 
        {% endform %}
        {% if shop.checkout.guest_login %}
          <span class="has-padding-top"> {{ 'customer.login.or' | t }} </span>
          {% form 'guest_login' %}
            <input class="button button--primary" type="submit" value="{{ 'customer.login.guest_title_html' | t }}" />
          {% endform %}
        {% endif %}
      </div>
    </div>
    
    {% if section.settings.image %}
      <div class="login__image one-half medium-down--one-whole column is-order-aligned-{{ section.settings.image_position }}">
        {% render 'image-element',
                image: section.settings.image,
                alt: section.settings.image.alt
        %}
      </div>
    {% endif %}

  </div>
</section>

{% comment %}JavaScript{% endcomment %}
<script src="{{ 'z__jsAccounts.js' | asset_url }}"></script>


{% schema %}
  {
    "name": "Login",
    "class": "login-page jsAccounts",
    "settings": [
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1000 x 700px recommended"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "standard",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          },
          {
            "value": "wide",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "min": 0,
        "max": 80,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ]
  }
{% endschema %}

<script type="text/javascript">
  function showRecoverPasswordForm(e) {
    e.preventDefault();
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('customer_login').style.display='none';
    return false;
  }

  function hideRecoverPasswordForm(e) {
    e.preventDefault();
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer_login').style.display = 'block';
    return false;
  }

  if (window.location.hash == '#recover-password') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    hideRecoverPasswordForm();
  {% endif %}
</script>
